<!doctype html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {% block title  %}  {% endblock %} </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">

    </head>
  <body class="">
    

    <!--menu del ecomers-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="logo" href="{% url 'ecomee:store' %}">Ecom<span>Merc</span></a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item mx-2">
                    <a class="text-dorado menuauth mx-1 active" aria-current="page" href="{% url 'ecomee:store' %}">Home</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="text-dorado menuauth mx-1 " aria-current="page" href="{% url 'ecomee:allproducts' %}">Productos</a>
                </li>
                <li class="nav-item mx-2 position-relative">
                    <form class="d-flex " action="{% url 'ecomee:buscar' %}" method="GET">
                        <input class="form-control form-control-dark me-2" type="text" placeholder="Buscar" name="keyword" required>
                        <button class="btn cartBtn">Buscar</button>
                    </form>
                    <!--algun rato los resultados al escribir-->
                    <div class="resultado bg-dark">

                    </div>
                </li>
            </ul>

            <div class="d-flex align-items-center " >
                {% if request.user.customer %}
                    <span class="text-dorado menuauth mx-2">¡Hola! <a href="{% url 'ecomee:perfil' %}" class="text-dorado menuauth">{{ request.user.username }}</a></span>
                    <a class="text-dorado menuauth mx-2" href="{% url 'ecomee:logout' %}">Logout</a>
                {% else %}
                    <a class="text-dorado menuauth mx-2" href="{% url 'ecomee:login' %}">Login</a>
                    <a class="text-dorado menuauth mx-2" href="{% url 'ecomee:register' %}">Registrarse</a>
                {% endif %}
                
                <a class="p-2" href="{% url 'ecomee:cart' %}">
                    <img class="cartImg" src="{% static 'images/cart.png' %}" alt="">
                </a>
                <p id="cartTotal">0</p>
            </div>
        </div>
            
        </div>
        
    </nav>


    <div class="container ">
        
        {% block content %}


        {% endblock content %}

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>